@model RegisterViewModel

<!DOCTYPE html>

<html>

<head>
  <link href=@Url.Content("~/css/app.css") rel="stylesheet" type="text/css"/>
  <link href=@Url.Content("~/css/bootstrap.css") rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-xl-4 col-md-6 col-sm-12">
      <div class="form-contaienr">
        <table width="100%" class="mb-2">
          <tr>
            <td align="left">
              <h5>Регистрация</h5>
            </td>
            <td align="right">
              <h5>
                <a asp-controller="Auth" asp-action="Login" asp-route-redirectUrl="@Model.RedirectUrl">Вход</a>
              </h5>
            </td>
          </tr>
        </table>
        <form asp-controller="Auth" asp-action="Register" method="post">
          <div>
            <input asp-for="@Model.RedirectUrl" type="hidden"/>
            <label class="text-secondary label-text">Имя</label>
            <input class="w-100" type="text" asp-for="@Model.FirstName">
            <span class="text-danger label-text" asp-validation-for="@Model.FirstName"></span>
            <label class="mt-2 text-secondary label-text">Фамилия</label>
            <input class="w-100" type="text" asp-for="@Model.LastName">
            <span class="text-danger label-text" asp-validation-for="@Model.LastName"></span>
            <label class="mt-2 text-secondary label-text">Адрес электронной почты</label>
            <input class="w-100" type="email" asp-for="@Model.Email">
            <span class="text-danger label-text" asp-validation-for="@Model.Email"></span>
            
            @if (ViewData.ContainsKey("RegistrationError") && ViewBag.RegistrationError == true)
            {
              @if (ViewData.ContainsKey("BusyEmailError") && ViewBag.BusyEmailError == true)
              {
                <label class="text-danger label-text">*Пользователь с таким email уже существует.</label>
              }
              else
              {
                <label class="text-danger label-text">*Ошибка регистрации.</label>
              }
            }
            
            <label class="mt-2 text-secondary label-text">Пароль</label>
            <input class="w-100" type="password" asp-for="@Model.Password">
            <span class="text-danger label-text" asp-validation-for="@Model.Password"></span>
            <label class="mt-2 text-secondary label-text">Подтверждение пароля</label>
            <input class="w-100" type="password" asp-for="@Model.ConfirmPassword">
            <span class="text-danger label-text" asp-validation-for="@Model.ConfirmPassword"></span>
          </div>
          <button class="mt-4 w-100 register-btn" type="submit">Зарегистрироваться</button>
        </form>
      </div>
      
      @*Modal*@
      <div class="modal fade" id="RegistrationSuccessModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-container">
           
            <div class="col-12">
              <h6>Вы успешно зарегистрировались.</h6>

              @if (ViewData.ContainsKey("ConfirmationEmailSent"))
              {
                if (ViewBag.ConfirmationEmailSent == true)
                {
                  <p>Письмо подтверждения отправлено на почту @Model.Email</p>
                }
                else
                {
                  <p>Письмо подтверждения не было отправлено из-за ошибки на сервере. Запросите письмо подтверждения в личном кабинете позднее</p>
                }
              }
            
              <div class="float-end align-self-end">
                <a asp-controller="Auth" asp-action="Login" asp-route-redirectUrl="@Model.RedirectUrl" 
                   class="btn btn-primary modal-btn">Ok</a>
              </div>
            </div>

          </div>
        </div>
      </div>
      @*End Modal*@

    </div>
  </div>
</div>

<script src=@Url.Content("~/js/bootstrap.bundle.js")></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    function openModalDialog() {
      window.$("#RegistrationSuccessModal").modal("show");
    }

    @if (ViewData.ContainsKey("RegistrationSuccess") && ViewBag.RegistrationSuccess == true)
    {
      @:openModalDialog();
    }
  });
</script>

</body>


</html>